$borderColor: #a9a9a9;

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.question {
    display: none;
    font-weight: normal !important;
}

#get__value {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.caption {
    padding: 10px;
    color: white;
    background: #0b48a0;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

th {
    border: 1px solid $borderColor;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid $borderColor;
}

tr {
    border: 1px solid $borderColor;
}

table thead tr td {
    border: 1px solid $borderColor;
}

table tbody tr td {
    border: 1px solid $borderColor;
}

.who_is_studying {
    width: 100px;
}

.program {
    width: 35%;
}

.how_often {
    width: 100px;
}

.number {
    width: 10px;
}

.norma {
    width: 100px;
}

.checking {
    width: 100px;
}

.code {
    width: 70px;
}